* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

a:visited {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  border-radius: 20px;
  background-color: #16213E;
  transition: 1s;
  color: #FFFFFF;
  cursor: pointer;
}

.nav-link {
  font-family: "Roboto Serif", serif;
}

.text {
  font-family: "Roboto Serif", serif;
  color: #FFFFFF;
}

.bg-main {
  background-color: #22577E;
}

.bg-section {
  background-color: #16213E;
}

footer a:hover, i:hover {
  color: #22577E;
  text-decoration: underline;
}

.barraB {
  background-color: #16213E;
  border-radius: 0px 20px 0px 20px;
  font-size: 2rem;
}

.barraB__img {
  height: 60px;
}

.barraB__input {
  background-color: transparent;
  color: #FFFFFF;
  border: 0;
  outline: none;
  height: 70px;
}

.bg-header {
  background-color: #16213E;
}

.boton-opciones {
  height: 60px;
}

.nav-item .nav-link:hover {
  color: #8BBCE0;
  text-decoration: underline;
  transition: 0.5s;
}

.navbar .titulo-pagina {
  color: #FFFFFF;
  font-family: "Roboto Condensed", sans-serif;
}

.nav-link {
  font-family: "Roboto Serif", serif;
}

.nav-item .nav-link.active {
  color: #8BBCE0;
}

.filtros--boton {
  background-color: #16213E;
  color: white;
  border-radius: 15px;
  width: 150px;
  height: 40px;
  padding-left: 10px;
  font-family: "Roboto Serif", serif;
}

.filtros--boton:hover {
  background-color: #FFFFFF;
  color: #16213E;
  border: 2px solid #16213E;
  transition: 0.5s;
}

.email {
  background-color: primary-color;
}

.barra__email:focus {
  outline: none;
  background-color: secondary-color;
  color: font-color;
  transition: 0.5s;
}

.barra__boton {
  background-color: secondary-color;
  color: font-color;
  font-family: secondary-font-style;
}

.barra__boton:hover {
  background-color: font-color;
  color: secondary-color;
  transition: 0.5s;
}

@media (min-width: 992px) {
  .text h2 {
    font-size: 3rem;
  }
  .text p, form {
    font-size: 1.5rem;
  }
  nav {
    font-size: 1.5rem;
  }
}
.img-article {
  padding: 0;
  object-fit: cover;
}

.text-article {
  text-align: left;
}

.libro__portada {
  width: 310px;
  height: 450px;
  border: 2px solid white;
}

.libro__portada:hover {
  border: 5px solid #16213E;
  transition: 0.5s;
  cursor: pointer;
}

.acordion__encabezado:not(.collapsed) {
  background-color: #16213E;
  color: #FFFFFF;
}

.acordion__encabezado {
  outline: none;
  background-color: #16213E;
  color: #FFFFFF;
  border-radius: 20px;
  /* border: 2px $primary-color) 20px; */
}

.acordion__texto {
  background-color: #7ACBCE;
  color: black;
  font-family: "Roboto Serif", serif;
  border-bottom: 2px;
}

.accordion-item, .accordion-header {
  background-color: transparent;
  border: 0;
}

@media (min-width: 992px) {
  .acordion__encabezado:not(.collapsed) {
    font-size: 2rem;
  }
  .acordion__encabezado {
    font-size: 2rem;
    /* border: 2px $primary-color) 20px; */
  }
  .acordion__texto {
    font-size: 1.5rem;
  }
  .acordion__texto > h3 {
    font-size: 2rem;
  }
}
.ayuda-main {
  height: 800px;
}

@media (min-width: 992px) {
  .ayuda-main {
    height: 1080px;
  }
}
.email {
  background-color: #16213E;
}

.formulario__input {
  width: 100%;
}

@media (min-width: 992px) {
  .datos-personales > .formulario__input {
    width: 49%;
  }
}
.form-boton:hover, .formulario__input:focus {
  background-color: #22577E;
  border: 2px solid #16213E;
  border-radius: 20px;
  color: #FFFFFF;
  transition: 0.5s;
}

.formulario__input:hover {
  background-color: #22577E;
  border: 2px solid #16213E;
  color: #FFFFFF;
  transition: 0.5s;
}

.apartado {
  border: 5px solid #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
