* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a, i {
  text-decoration: none;
  color: #FFFFFF;
}
avisited, ivisited {
  color: #FFFFFF;
}

.nav-link {
  font-family: "Roboto Serif", serif;
}

.text {
  font-family: "Roboto Serif", serif;
  color: #FFFFFF;
}
@media (min-width: 992px) {
  .text h2 {
    font-size: 3rem;
  }
  .text p, .text form {
    font-size: 1.5rem;
  }
}

.bg-main {
  background-color: #22577E;
}
.bg-section {
  background-color: #16213E;
}
.bg-header {
  background-color: #16213E;
}
.bg-footer {
  background-color: #16213E;
}

.barraB {
  background-color: #16213E;
  border-radius: 0px 20px 0px 20px;
  font-size: 2rem;
}
.barraB__img {
  height: 60px;
}
.barraB__input {
  background-color: transparent;
  color: #FFFFFF;
  border: 0;
  outline: none;
  height: 70px;
}

.boton-opciones {
  height: 60px;
}

.nav-item .nav-link {
  font-family: "Roboto Serif", serif;
}
.nav-item .nav-link:not(visited) {
  color: #FFFFFF;
}
.nav-item .nav-link:hover {
  color: #8BBCE0;
  text-decoration: underline;
  transition: 0.5s;
}
.nav-item .nav-link.active {
  color: #8BBCE0;
}

@media (min-width: 992px) {
  .navbar {
    font-size: 1.5rem;
  }
}
.navbar .titulo-pagina {
  color: #FFFFFF;
  font-family: "Roboto Condensed", sans-serif;
}

footer a, footer i {
  color: #FFFFFF;
}
footer a:hover, footer i:hover {
  color: #8BBCE0;
  transition: 0.5s;
}

.filtros--boton {
  background-color: #16213E;
  color: white;
  border-radius: 15px;
  width: 150px;
  height: 40px;
  padding-left: 10px;
  font-family: "Roboto Serif", serif;
}
.filtros--boton:hover {
  background-color: #FFFFFF;
  color: #16213E;
  border: 2px solid #16213E;
  transition: 0.5s;
}

.email {
  background-color: #16213E;
}
.email .barra__email:focus {
  outline: none;
  background-color: #22577E;
  color: #FFFFFF;
  transition: 0.5s;
}
.email .barra__boton {
  background-color: #22577E;
  color: #FFFFFF;
  font-family: "Roboto Serif", serif;
}
.email .barra__boton:hover {
  background-color: #FFFFFF;
  color: #22577E;
  transition: 0.5s;
}

.article__img {
  padding: 0;
  object-fit: cover;
}
.article__text {
  text-align: center;
}

.evento:hover {
  color: #FFFFFF;
  border-radius: 20px;
  background-color: #16213E;
  transition: 1s;
  cursor: pointer;
  text-decoration: none;
}
.evento__titulo:hover {
  color: #FFFFFF;
}

.libro__portada {
  width: 310px;
  height: 450px;
  border: 2px solid white;
}
.libro__portada:hover {
  border: 5px solid #16213E;
  transition: 0.5s;
  cursor: pointer;
}

.acordion__encabezado {
  outline: none;
  background-color: #16213E;
  color: #FFFFFF;
  border-radius: 20px;
  /* border: 2px $primary-color) 20px; */
}
@media (min-width: 992px) {
  .acordion__encabezado {
    font-size: 2rem;
  }
}
.acordion__encabezado:not(.collapsed) {
  background-color: #16213E;
  color: #FFFFFF;
}
@media (min-width: 992px) {
  .acordion__encabezado:not(.collapsed) {
    font-size: 2rem;
  }
}
.acordion__texto {
  background-color: #7ACBCE;
  color: black;
  font-family: "Roboto Serif", serif;
  border-bottom: 2px;
}
@media (min-width: 992px) {
  .acordion__texto {
    font-size: 1.5rem;
  }
  .acordion__texto h3 {
    font-size: 2rem;
  }
}

.accordion-item,
.accordion-header {
  background-color: transparent;
  border: 0;
}

.ayuda-main {
  height: 800px;
}
@media (min-width: 992px) {
  .ayuda-main {
    height: 1080px;
  }
}

.formulario__input {
  width: 100%;
}
.formulario__input:focus {
  background-color: #16213E;
  border: 2px solid #16213E;
  border-radius: 20px;
  color: #FFFFFF;
  transition: 0.5s;
}
@media (min-width: 992px) {
  .formulario__input.datos-personales {
    width: 49%;
  }
}

.enlace {
  color: #FFFFFF;
}
.enlace:hover {
  background-color: #16213E;
  transition: 1s;
  color: #FFFFFF;
  border-radius: 20px;
}

.apartado {
  border: 5px solid #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
