.acordion {
    &__encabezado {
        outline: none;
        background-color: $primary-color;
        color: $font-color;
        border-radius: 20px;

        /* border: 2px $primary-color) 20px; */
        @include lg {
            font-size: 2rem;
        }

        &:not(.collapsed) {
            background-color: $primary-color;
            color: $font-color;

            @include lg {
                font-size: 2rem;
            }
        }
    }

    &__texto {
        background-color: $tercer-color;
        color: black;
        font-family: $secondary-font-style;
        border-bottom: 2px;

        @include lg {
            font-size: 1.5rem;

            h3 {
                font-size: 2rem;
            }
        }
    }
}


.accordion-item,
.accordion-header {
    background-color: transparent;
    border: 0;
}

.ayuda-main {
    height: 800px;

    @include lg {
        height: 1080px;
    }
}