.boton-opciones {
    height: 60px;
}

.nav-item .nav-link {
    font-family: $secondary-font-style;

    &:not(visited) {
        color: $font-color;
    }

    &:hover {
        color: #8BBCE0;
        text-decoration: underline;
        transition: 0.5s;

    }

    &.active {
        color: #8BBCE0;
    }
}

.navbar {
    @include lg {
        font-size: 1.5rem;
    }
    .titulo-pagina {
        color: $font-color;
        font-family: $primary-font-style;
    }
    
}