.email{
    background-color: $primary-color;
    .barra{
        &__email:focus {
            outline: none;
            background-color: $secondary-color;
            color: $font-color;
            transition: 0.5s;
        }
        &__boton {
            background-color: $secondary-color;
            color: $font-color;
            font-family: $secondary-font-style;
            &:hover {
                background-color: $font-color;
                color: $secondary-color;
                transition: 0.5s;
            }
        }
    }
}

