.article__img {
    padding: 0;
    object-fit: cover;
}
.article__text {
    text-align: center;
}

// Libros
.libro__portada {
    width: 310px;
    height: 450px;
    border: 2px solid white;
}

.libro__portada:hover {
    border: 5px solid $primary-color;
    transition: 0.5s;
    cursor:pointer;
}