* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

a,i {
    text-decoration: none;
    color: $font-color;
    &visited {
        color: $font-color;
    }
}

.nav-link {
    font-family: $secondary-font-style;
}

.text {
    font-family: $secondary-font-style;
    color: $font-color;
    @include lg{
        h2 {
            font-size: 3rem;
        }
    
        p, form {
            font-size: 1.5rem;
        }
    }
}
.bg{
    &-main {
        background-color: $secondary-color;
    }
    &-section {
        background-color: $primary-color;
    }
    &-header {
        background-color: #16213E;
    }
    &-footer{
        background-color: #16213E;
    }
    
}

.barraB{
    background-color: #16213E;
    border-radius: 0px 20px 0px 20px;
    font-size: 2rem;
    &__img{
        height: 60px;
    }
    &__input{
        background-color: transparent;
        color: $font-color;
        border: 0;
        outline: none;
        height: 70px;
    }
}
